<!DOCTYPE html>
<html>
	<head>
		<title>通讯录</title>
		<meta charset=utf-8>
		<meta name=description content="">
		<meta name=viewport content="width=device-width, initial-scale=1">
		<link href="${rc.contextPath}/css/bootstrap.css" rel="stylesheet">
		<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
		<script src="${rc.contextPath}/js/bootstrap.js"></script>
		<script src="${rc.contextPath}/js/homepage.js"></script>
		<style type='text/css'>
			body {
			background-color: #EEE;
			}
			#centertext{
				background-color: #FFF;
			}
		</style>
	</head>
	
	<body>
		
				
				<div class="container-fluid" >
					<div class="row-fluid">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="centertext">
							
							<div class="tabbable" id="tabs-442752">
								<ul class="nav nav-tabs">
									
									<li class="active">
										<a data-toggle="tab" href="#panel-327420">人员管理</a>
									</li>
									<li>
										<a data-toggle="tab" href="#panel-353872">部门管理</a>
									</li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane" id="panel-353872">
										<table class="table table-hover table-condensed">
											<thead>
												<tr>
													<th>
														编号
													</th>
													<th>
														名称
													</th>
													<th>
														父ID
													</th>
													
													<th>
														操作
													</th>
												</tr>
											</thead>
											<tbody>
												<#if departments??>
												<#list departments as d>
												<#if d??>
												<tr>
													<td>
														${d.id}
													</td>
													<td>
														${d.name}
													</td>
													<td>
														${d.parentid}
													</td>
													
													<td>
														<button class="btn" type="button"><span class="glyphicon glyphicon-edit"></span>修改</button>
													</td>
												</tr>
												</#if>
												</#list>
												</#if>
											</tbody>
										</table>
										<button type="button" class="btn btn-sm btn-info" data-toggle="modal"
										data-target="#myModal" >新增</button>
									</div>
									<div class="tab-pane active" id="panel-327420">
										<table class="table table-hover table-condensed">
											<thead>
												<tr>
													<th>
														编号
													</th>
													<th>
														姓名
													</th>
													<th>
														ID
													</th>
													<th>
														所属部门
													</th>
													<th>
														操作
													</th>
												</tr>
											</thead>
											<tbody>
												<#if users??>
												<#list users as u>
												<#if u??>
												<tr>
													<td>
														${u.id}
													</td>
													<td>
														${u.name}
													</td>
													<td>
														${u.userId}
													</td>
													<td>
														Default
													</td>
													<td>
														<button class="btn" type="button"><span class="glyphicon glyphicon-edit"></span>修改</button>
													</td>
												</tr>
												</#if>
												</#list>
												</#if>
											</tbody>
										</table>
										<button type="button" class="btn btn-sm btn-info" data-toggle="modal"
										data-target="#myModal" >新增</button>
									</div>
								</div>
							</div>
							
							
							
						</div>
						
					</div>
				</div>
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog" >
						<div class="modal-content" >
							<div class="modal-header">
								<button type="button" class="close"
								data-dismiss="modal" aria-hidden="true">
								&times;
								</button>
								<h4 class="modal-title" id="myModalLabel">
								新增成员
								</h4>
							</div>
							<div class="modal-body" style="text-align:center">
								
								<form class="form-horizontal" id="addUserForm" action="addUser" method="post">
									<fieldset>
										<div class="control-group">
											<!-- Text input-->
											
											<div class="controls">
											<span><strong>UserId: </strong></span> <input type="text" placeholder="英文或者数字" class="input-xlarge" name="userid">
												<p class="help-block">不能重复</p>
											</div>
										</div>
										<div class="control-group">
											<!-- Text input-->
											
											<div class="controls" >
											<span><strong>姓名：</strong></span>
												<input type="text" placeholder="" class="input-xlarge" name="name">
												<p class="help-block"></p>
											</div>
										</div>
										<div class="control-group">
											<!-- Select Basic -->
											
											<div class="controls">
											<span><strong>部门： </strong></span>
												<select class="input-xlarge" name="department">
													<option value="1">1.成都明朗科技公司</option>
													<option value="4">4.开发部</option>
													</select>
											</div>
											</div>
											<p></p>
											<div class="control-group">
												
												<div class="controls">
													<span><strong>职位: </strong></span>
													<input type="text" placeholder="" class="input-xlarge" name="position">
													<p class="help-block"></p>
												</div>
											</div>
											<div class="control-group">
												<!-- Text input-->
												
												<div class="controls">
												<span><strong>电话: </strong></span>
													<input type="text" placeholder="" class="input-xlarge" name="mobile">
													<p class="help-block"></p>
												</div>
											</div>
											<div class="control-group">
												<!-- Text input-->
												
												<div class="controls">
												<span><strong>邮箱: </strong></span>
													<input type="text" placeholder="" class="input-xlarge" name="email">
													<p class="help-block"></p>
												</div>
											</div>
											<div class="control-group">
												<!-- Text input-->
												
												<div class="controls">
												<span><strong>微信号: </strong></span>
													<input type="text" placeholder="" class="input-xlarge" name="weixinid">
													<p class="help-block"></p>
												</div>
											</div>
										</fieldset>
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
									data-dismiss="modal">关闭
									</button>
									<button type="button" class="btn btn-primary" id="btnadd">
									提交更改
									</button>
								</div>
								</div><!-- /.modal-content -->
								</div><!-- /.modal -->
							</body>
						</html>